<%= form_with(model: [:admin, kanji], local: true) do |f| %>
  <% if kanji.errors.any? %>
    <div style="color: red; border: 1px solid red; padding: 10px; margin-bottom: 20px;">
      <h2>Có lỗi xảy ra:</h2>
      <ul><% kanji.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Thông tin cơ bản</legend>
    <div><%= f.label :character, "Chữ Kanji (*)" %><br><%= f.text_field :character %></div>
    <div><%= f.label :translation, "Hán Việt (*)" %><br><%= f.text_field :translation %></div>
    <div><%= f.label :meaning, "Nghĩa Tiếng Việt (*)" %><br><%= f.text_area :meaning, rows: 3 %></div>
    <div><%= f.label :jlpt_level, "Cấp độ JLPT (1-5)" %><br><%= f.number_field :jlpt_level %></div>
  </fieldset>

  <fieldset>
    <legend>Âm & Cách viết</legend>
    <div><%= f.label :onyomi %><br><%= f.text_field :onyomi %></div>
    <div><%= f.label :kunyomi %><br><%= f.text_field :kunyomi %></div>
    <div><%= f.label :stroke_count, "Số nét" %><br><%= f.number_field :stroke_count %></div>
    <div><%= f.label :writing_image_url, "URL ảnh cách viết" %><br><%= f.text_field :writing_image_url %></div>
  </fieldset>

  <fieldset>
    <legend>Chi tiết & Ví dụ</legend>
    <div><%= f.label :radical, "Bộ thủ" %><br><%= f.text_field :radical %></div>
    <div><%= f.label :components, "Bộ thành phần" %><br><%= f.text_field :components %></div>
    <div><%= f.label :kanji_story, "Câu chuyện" %><br><%= f.text_area :kanji_story, rows: 4 %></div>
    <div><%= f.label :examples, "Từ ví dụ (Xuống dòng cho mỗi từ)" %><br><%= f.text_area :examples, rows: 5 %></div>
    <div><%= f.label :example_sentences, "Câu ví dụ (Xuống dòng cho mỗi câu)" %><br><%= f.text_area :example_sentences, rows: 5 %></div>
  </fieldset>

  <div style="margin-top: 20px;">
    <%= f.submit "Lưu Kanji", style: "padding: 10px 20px; background: blue; color: white; border: none; cursor: pointer;" %>
    <%= link_to "Hủy", admin_kanjis_path %>
  </div>
<% end %>